.body{

    padding: 0%;
    margin: 30px 30px;
}



img{ height: 300px;
    width: 300px;
}
.minha-div {
    height: 50px;
    width: 50px;
}


@media screen and (max-width: 500px) {
    .my-image {
        max-width: 50%;
    }
}

.informações{
    text-align:justify;
}
    